*{
    padding: 0px;
    margin: 0px;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1 h2 h3 h4 h5 h6{
	font-family:'Source Sans Pro';

}
a, a:hover{
	text-decoration: none;
}
ul,ol{
    list-style: none;
}

/*Main css code here*/
/*header section code start here*/
.header-section{
    width: 100%;
}
.top-header{
    width: 100%;
    padding: 10px 0px;
    background: #f5f7fa;
}
.top-header .info-inner{
    display: block;
    margin: 0px;
}
.top-header .info-inner li{
    display: inline-block;
}
.top-header .info-inner li a{
    font-size: 14px;
    font-weight: 500;
    color: #506a85;
    margin-right: 15px;
}

.top-header .info-inner li a .fa{
    margin-right:7px;
    
}


.top-header .social-icons{
    text-align: right;
    display: block;
    margin: 0px;
}
.top-header .social-icons li{
    display: inline-block;
}
.top-header .social-icons li a{
    font-size: 14px;
    color: #506a85;
    margin: 0px 0px 0px 18px;
}
.header-section .bg-light {
    padding: 15px 0px;
    background-color: #fff!important;
}

.header-section .navbar-expand-lg .navbar-nav {
    margin-left: 15px;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #506a85;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px 10px;
}
.header-section .navbar-light .navbar-nav .active>.nav-link{
    color: #506a85;
    font-weight: 400;
}
.header-section .navbar-light .navbar-nav .nav-link:focus, .header-section .navbar-light .navbar-nav .nav-link:hover {
    color: #00bc9c;
}
.header-section .right-search .fa{
    color: #506a85;
}


/*header section code end*/

/*Slider section code here*/
.slider{
    width: 100%;
}
.slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.slider .carousel-caption h2 {
    font-size: 64px;
    line-height: 74px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.slider .carousel-caption p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #a3b1bf;
}
.slider .carousel-caption .btn-info {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 35px;
    margin-top: 35px;
    border-radius: 2px;
    background: #00bc9c;
    color: #fff;
    border: 1px solid #00bc9c;
    transition: 1s;
    
    
}
.slider .carousel-caption .btn-info:focus,.slider .carousel-caption .btn-info:hover{
    background: transparent;
    color: #00bc9c;
    border: 1px solid #00bc9c;
    
}

/*who-we-are code start*/
.who-we-are{
    width: 100%;
    padding:80px 0px;
}
.who-we-are .title{
    width: 100%;
    text-align: center;
        
}
.who-we-are .title h2{
    font-size: 52px;
    line-height: 64px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #506a85;
    margin-bottom: 20px;
}
.who-we-are .title p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #a3b1bf;
}

.who-we-are .media{
    margin-top: 40px;
}
.who-we-are .media .media-body{
/*    padding: 0px 10px;*/
}
.who-we-are .media .media-body h5{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #506a85;
}
.who-we-are .media .media-body p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #a3b1bf;
}
